/* buyAirtime.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buy-airtime-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 61%;
    width: 100%;
    height: 63%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    width: 92%;
    padding: 1%;
    margin: 7% 0 5%;
    border-radius: 26px;
    border: 3px solid #5cb85c;
    height: 10%;
    font-size: 120%;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 2% 5%;
    border: none;
    border-radius: 48%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 138%;
}

button:hover {
    background-color: #4cae4c;
}
#message {
    font-size: 130%;
    margin-top: 6%;
    color: green;
}