body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 61%;
    width: 100%;
    height: 81%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: xx-large;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    font-size: 106%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 92%;
    padding: 1%;
    margin: 2% 3% 3%;
    border-radius: 26px;
    border: 3px solid #5cb85c;
    height: 10%;
    font-size: 120%;
}

.button {
    background-color: #5cb85c;
    color: white;
    padding: 2% 5%;
    border: none;
    border-radius: 48%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -2%;
    font-size: 138%;
}

.button:hover {
    background-color: #4cae4c;
}

#message {
    
    margin-bottom: 15px;
    font-size: 130%;
}
