<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Airtime</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'css/buyAirtime.css' %} ?v={ v=1.0 }">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
</head>
<body>

<div class="buy-airtime-container">
    <h2>Buy Airtime</h2>
    <input type="number" id="airtime-amount" placeholder="Amount" min="0" required>
    <button onclick="submitAirtimePurchase()">Submit</button>
    <!-- Placeholder for success/error message -->
    <div id="message"></div>
</div>

<!-- Link to the external JavaScript file -->
<script src="{% static 'js/buyAirtime.js' %}"></script>
<button class="back-button" onclick="goBack()">Back</button>
<script src="{% static 'js/button.js' %}"></script>

</body>
</html>
